.music-box{
  width: 600px;
  height: 500px;
  background: #3aa6e97e;
  margin: 50px auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px #666;
}
.music-head{
  color: #999;
  font-size: 1.5rem;
  background: #eee;
  padding: 0 20px;
  height: 60px;
  line-height: 60px;
}
.music-head img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 20px;
  border: 2px solid rgb(10, 135, 184);
}

