.player-box{
    padding: 20px 40px;
    font-family:Microsoft yahei;
    color: #666;
}



.player-box>h6{
    color: #26bb69;
}
.music-msg{
    margin-bottom: 20px;
    float: left;
}
.music-logo{
    float: right;
    height: 130px;
    padding: 20px;
    box-sizing: border-box;
}
.music-logo img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: 2px solid #eee;
}

.music-progress{
    cursor: pointer;
    background: rgba(0,0,0,.3);
    height: 3px;
}
.play-voice{
   display: flex;
}
.play-voice >span{
    margin-right: 10px;
}
.play-voice .music-progress{
    max-width: 100px;
    margin-top: 12px;
    flex:1;
}


  .progress{
    min-width: 10px;
    max-width: 100%;
    width: 0%;
    height: 3px;
    background: #690303;
    text-align: right;
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .progress span{
    font-size: 0.2rem;
    color: #f1f1f1;
  }

  